*{
    list-style: none;
}

.bb{
    border: 1px solid red;
    width: 250px;
    height: 100px;
    margin-top: 10px;
}
.bb2{
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}